[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
timm = "*"
datasets = "*"
scikit-learn = "*"
torch-summary = "*"
transformers = "*"
torchtnt = "*"
pytorch-ignite = "*"
gradio = "*"

[dev-packages]
pre-commit = "*"
pyinstaller = "*"
pytest = "*"
kaggle = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
